body, html{
  height:100%;
}
body{
  z-index:-1;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image:url('src/img/floor1.png');
  background-size: 100%;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  font-family: arial, helvetica, sans-serif;
  padding:5px 12px;
  float:right;
}
.lineUpButton, .changeButton{
  font-family: arial, helvetica, sans-serif;
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;*/
  width: 150px;
  height: 150px;
  position:absolute;
  background:url('src/img/tranDance.gif');
  background-size: 100%;

}
.tinyDancer{
  /*border:50px solid blue;*/
  width: 150px;
  height: 200px;
  position:absolute;
  background:url('src/img/tranJbro.png');
  background-size: 100%;
  /*-webkit-transform: scaleX(-1);*/
}
.moonWalker{
  /*border:20px dashed purple;*/
  /*border-radius:10px;*/
  width: 120px;
  height: 180px;
  position:absolute;
  background:url('src/img/tranUnitard.png');
  background-size: 100%;

}

.hungry{
  /*border:20px dashed purple;*/
  /*border-radius:10px;*/
  width: 60px;
  height: 160px;
  position:absolute;
  background:url('src/img/tranJR.gif');
  background-size: 100%;

}

.okeanos{
  /*border:20px dashed purple;*/
  /*border-radius:10px;*/
  width: 120px;
  height: 150px;
  position:absolute;
  background:url('src/img/tranOkeanos.png');
  background-size: 100%;

}

.north{
  -webkit-transform: rotate(90deg);
  -webkit-transition: -webkit-transform .1s;


}
.east{
  -webkit-transform: rotate(180deg);
  -webkit-transition: -webkit-transform .1s;

}
.south{
  -webkit-transform: rotate(270deg);
  -webkit-transition: -webkit-transform .1s;

}
.west{
  -webkit-transform: rotate(0deg);
  /*-webkit-transition: -webkit-transform .2s;*/

}

