body, html{
  height:100%;
}
body{
  z-index:-1;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image:url('src/img/danceFloor.png');
  background-size: 100%;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUpButton{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;*/
  width: 200px;
  height:246px;
  position:absolute;
  background:url('src/img/bruceLee.gif');
  background-size: 100%;

}
.tinyDancer{
  /*border:50px solid blue;*/
  width: 128px;
  height:128px;
  position:absolute;
  background:url('src/img/tinyDancer.gif');
  -webkit-transform: scaleX(-1);
}
.moonWalker{
  /*border:20px dashed purple;*/
  /*border-radius:10px;*/
  width: 132px;
  height:138px;
  position:absolute;
  background:url('src/img/moonWalker.gif');
  background-size: 100%;

}

.north{
  -webkit-transform: rotate(90deg);
  -webkit-transition: -webkit-transform .1s;


}
.east{
  -webkit-transform: rotate(180deg);
  -webkit-transition: -webkit-transform .1s;

}
.south{
  -webkit-transform: rotate(270deg);
  -webkit-transition: -webkit-transform .1s;

}
.west{
  -webkit-transform: rotate(0deg);
  /*-webkit-transition: -webkit-transform .2s;*/

}

